main > .section > div.ai-hero-second-wrapper {
    max-width: none;
    padding: 0;
    width: 100%;
}


.ai-hero-second {
    position: relative;
    overflow: hidden; /* Hide any overflow */
}

.ai-hero-second picture,
.ai-hero-second img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
}

.ai-hero-second > div:last-child {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); /* Center the text vertically */
    background-color: white; /* White box around the text */
    padding: 3.5rem; /* Add padding inside the white box */
    text-align: right; /* Align text to the right */
    z-index: 1; /* Ensure the text is above the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
    width: 40rem; /* Set the width of the white box */
}

.ai-hero-second h2 {
    font-size: 3rem;
    letter-spacing: -2px;
    line-height: 1.25em;
    text-align: left;
}

.ai-hero-second p {
    font-size: 1.4rem;
    color: hsl(0, 50%, 25%);
    text-align: left;
}
