
/* Ensuring the header background is white */
.header-wrapper {
  background-color: white;
}

/* Fixing the nav-wrapper position */
.header-wrapper .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling the header navigation */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1264px;
  margin: auto;
  padding: 0 32px;
  font-family: var(--body-font-family);
}

/* Hiding the hamburger menu */
header nav .nav-hamburger {
  display: none;
  visibility: hidden;
}

/* Ensuring the brand logo is on the left */
header .nav-brand {
  order: 1;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  display: flex;
  align-items: center;
}

/* Ensuring the navigation menu is in the center */
header nav .nav-sections {
  order: 2;
  flex: 1;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

/* Ensuring the tools section is on the right */
header nav .nav-tools {
  order: 3;
  display: flex;
  align-items: center;
}

/* Styling the navigation menu */
.header-wrapper .default-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* Ensure horizontal alignment */
}

.header-wrapper .default-content-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; /* Ensure horizontal alignment */
}

.header-wrapper .default-content-wrapper ul li {
  margin: 0 10px; /* Adjust spacing between items as needed */
  display: flex;
  align-items: center;
  position: relative; /* Needed for submenu positioning */
}

.header-wrapper .default-content-wrapper ul li a {
  text-decoration: none;
  font-weight: bold;
  color: gray; /* Adjust color as needed */
  display: flex;
  align-items: center;
  white-space: nowrap; /* Ensure text stays in a single line */
}

/* Hiding submenus by default */
.header-wrapper .default-content-wrapper ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

/* Displaying submenu on hover */
.header-wrapper .default-content-wrapper ul li:hover ul {
  display: block;
}

/* Additional media query for responsive design */
@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 32px;
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
    flex-direction: row; /* Ensure horizontal alignment */
  }
}
