
.foot-wrapper {
  background-color: #2f3e46; /* dark background color */
  padding: 20px;
}

.foot.block.foot-2-cols > div {
  display: flex;
  flex-direction: row; /* align elements side by side */
  justify-content: space-between;
  align-items: center;
}

.foot-img-col {
  display: flex;
  flex-direction: row; /* align icons side by side */
}

.foot-img-col ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.foot-img-col li {
  margin-right: 25px; /* increase space between icons */
}

.foot-img-col li img {
  width: auto; /* Ensure images are not stretched */
  height: 30px; /* Set a consistent height for all icons */
}

.foot.block.foot-2-cols > div > div:nth-child(2) ul {
  display: flex;
  flex-direction: row; /* align text links side by side */
  list-style: none;
  padding: 0;
  margin: 0;
}

.foot.block.foot-2-cols > div > div:nth-child(2) li {
  margin-right: 25px; /* increase space between text links */
  color: #a0b0b9; /* fine-tune text color */
}

.foot.block.foot-2-cols > div > div:nth-child(2) li:last-child {
  margin-right: 0; /* no margin on the last item */
}

/* Ensure links are the same color as other text */
.foot.block.foot-2-cols > div > div:nth-child(2) li a {
  color: #a0b0b9;
}
